:root {
	--main_c: #302928;
	--main_hc: #8C8B83;
	--bg_c: #141111;
	--header_h: 50px;
}

* {
	padding: 0;
	margin: 0;
	font-family: Arimo;
	font-size: 20px;
	transition: 0.25s;
	color: white;
	scroll-behavior: smooth;
}

a {
	text-decoration: none
}

img {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::selection {
	background: var(--main_hc);
	color: black;
}

.body {
	background: var(--bg_c);
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
	background: url(img/bg.png);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}


.header {
	position: fixed;
	width: calc(100% - 60px);
	height: var(--header_h);;
	display: flex;
	align-items: center;
	gap: 30px;
	padding: 15px 30px;
	background: linear-gradient(135deg, var(--main_c), transparent);
	box-shadow: rgb(0, 0, 0, 0.4) 0px 0px 25px;
	z-index: 10;
}
	.header .logo {
		display: flex;
		align-items: center;
	}
		.header .logo .icon {
			height: 50px;
		}
		.header .logo .text {
			margin-left: 10px;
			font-family: Jost;
			max-width: 130px;
			line-height: 22px;
		}

.main {
	margin-top: var(--header_h);
	padding: 0 100px;
}

.mb {
	display: none;
}


.title {
	font-family: Jost;
	font-style: italic;
	font-size: 60px;
	line-height: 60px;
}
.small_text {
	margin: 20px 0 0 40px;
}

.info {
	height: calc(100vh - var(--header_h));
	display: flex;
	justify-content: center;
	align-items: center;
}
	.info .avatar {
	    border-radius: 50px;
	    height: 350px;
	}
	.info .texts {
		margin-left: 40px;
		max-width: 720px;
	}

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.project {
	display: flex;
	margin: 30px;
	gap: 20px;
	background: rgba(0, 0, 0, 0.2);
	padding: 20px;
	border-radius: 50px;
	max-width: calc(40% - 30px)
}
	.project .icon {
		border-radius: 30px;
		height: 120px;
	}
	.project .title {
		font-size: 25px;
	}
	.project .desc {
		font-size: 16px;
	}
	.project .links {
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;
		gap: 10px;
	}


.link {
	padding: 10px 15px;
	border-radius: 15px;
	background-color: var(--main_c);
	display: flex;
	align-items: center;
	gap: 5px;
}
	.link .icon {
		border-radius: 0;
		height: 18px;
	}
	.link:hover {
		background-color: var(--bg_c);
	}
.link.cf {
	background-color: #eb622b;
}
	.link.cf:hover {
		background-color: #B74D22;
	}
.link.mr {
	background-color: #1BD96A;
}
	.link.mr:hover {
		background-color: #15A54F;
	}


.footer {
	background: linear-gradient(45deg, transparent, var(--main_c));
	padding: 30px;
	display: flex;
	justify-content: center;
	box-shadow: rgb(0, 0, 0, 0.4) 0px 0px 25px;
}
	.footer .group {
		display: flex;
		align-items: center;
		flex-direction: column;
	}



@media (max-width: 720px) {

}